@font-face {
  font-family: Syne;
  src: url(../../../public/fonts/Syne-VariableFont_wght.ttf);
}
p,
h3,
button {
  font-family: Syne;
  text-justify: justify;
}
strong {
  color: black;
}
.reservation-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  min-height: 70vh;
}
p {
  line-height: 1.2rem !important;
}
.titleWS {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  align-self: flex-start;
}

.reservation-content {
  max-width: 800px;
  text-align: left;
  line-height: 1.6;
  color: #666;
}

.reservation-content p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.reservation-content button {
  margin-top: 40px;
  padding: 40px;
  background-color: #d72323;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.reservation-content button:hover {
  background-color: #b71c1c;
}

.reservation-content a {
  text-decoration: none;
}
