.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  margin: 40px;
  text-justify: justify;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  list-style-type: none;
}

.about-text,
.about-map {
  width: 100%;
  color: #999999;
}

strong {
  color: black;
}

@media (min-width: 1200px) {
  .about-content {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }

  .about-text {
    width: 60%;
  }

  .about-map {
    width: 40%;
  }

  .about-map img {
    width: 100%;
    height: auto;
    margin-left: auto;
  }

  .square-decorated-list {
    list-style-type: none;
    padding-left: 20px;
  }

  .square-decorated-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .square-decorated-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #999999;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .about-content {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  .about-text,
  .about-map {
    width: 50%;
  }

  .about-map img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .about-text {
    width: 100%;
    padding: 10px;
  }

  .about-map {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .about-map img {
    max-width: 300px;
    height: auto;
  }

  .square-decorated-list {
    list-style-type: none;
    padding-left: 0;
  }

  .square-decorated-list li {
    position: relative;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .square-decorated-list li::before {
    content: none;
  }
}
