.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  flex: 1;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1250px;
  width: 100%;
  gap: 20px;
  flex: 1;
}

.about-text {
  flex: 1;
  color: #888888;
}

.about-text h2,
.about-text h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.about-text ul {
  list-style-type: disc;
}

.about-map {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  white-space: nowrap;
  color: black;
}

.inline-content {
  display: flex;
  align-items: flex-start;
}

.inline-content h2,
.inline-content h3,
.inline-content p {
  display: inline;
  margin: 0;
}

strong {
  font-weight: bold;
  font-size: large;
  color: black;
}

.main-container {
  margin-top: 20px;
  height: 62.3vh;
}
