/* Styles de base */
@font-face {
  font-family: Syne;
  src: url(../../../public/fonts/Syne-VariableFont_wght.ttf);
}
h1 {
  font-family: Syne;
}
.home-container {
  display: flex;

  background: linear-gradient(to bottom, #ffffff, #ebebeb, #adacac);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0 50px 0px;

  max-width: auto;
}

.main-left {
  flex: 1;
  margin-right: 20px;
}

.main-left h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.buttons-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons-group .left-button {
  padding: 10px 20px;
  background-color: #d72323;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons-group .left-button:hover {
  background-color: #b71c1c;
}

.buttons-group button {
  padding: 10px 20px;
  background-color: #ecf0f1;
  color: #333;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons-group button:hover {
  background-color: #bdc3c7;
}
.main-left {
  max-width: 400px;
}
.main-right img {
  max-width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    padding-top: inherit;
    margin-top: inherit;
    margin: 10 40px 40px;
  }

  .main-left {
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .main-right {
    margin-top: 20px;
  }
  img {
    max-width: 250px !important;
    margin: inherit;
  }
  .buttons-group {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-left {
    flex: 1;
    margin: 20px;
    padding: 10px;
  }
  img {
    margin-bottom: 10px;
  }
  .buttons-group {
    display: flex;
    justify-content: center;
  }
}
