.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #fff;
}
.logo {
  height: 40px;
  width: auto;
  cursor: pointer;
  margin-left: 20vw;
  padding: 5px;
}

.nav-links {
  display: flex;

  justify-content: space-around;
  flex: 1;
  margin-right: 15px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  margin: 0 15px;
}

button {
  color: #d72323;
  margin-right: 70px;
  background-color: #d72323;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b71c1c;
}

button[mat-button] {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
.nav-links {
  display: flex;
  align-items: center;
}

.mobile-menu-button {
  display: none;
  margin-right: 30px;
}
@media (max-width: 1200px) {
  .nav-links {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
  }
  .menu-content {
    padding: 20px;
  }
  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    margin: 10px;
  }
  button {
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
  }
}
