@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: Syne;
  src: url(../public/fonts/Syne-VariableFont_wght.ttf);
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Syne;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
button {
  font-family: Syne;
}

.custom-backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(75, 75, 75, 0.5);
}

.mat-dialog-container {
  padding: 0;
}
