.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
}

.column {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
}

.footer-item {
  display: flex;
  justify-items: center;
  gap: 10px;
}

a {
  color: #83898f;
  text-decoration: none;
}

.title {
  margin-bottom: inherit;
}

.textF {
  margin-left: 50px;
}

.icon {
  width: 35px;
  height: 35px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
