.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
}

.column {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  margin-bottom: 20px; /* Ajout d'une marge inférieure pour l'espacement entre les colonnes sur mobile */
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  color: #83898f;
  text-decoration: none;
}

.title {
  margin-bottom: inherit;
}

.textF {
  margin-left: 50px;
}

.icon {
  width: 35px;
  height: 35px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.left-item {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .column {
    flex: 1;
    min-width: 180px;
    max-width: 250px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .textF {
    margin-left: 0;
  }
  .social-icons {
    justify-content: center;
  }
  .footer-item {
    justify-content: center;
  }
  .left-item {
    margin-left: inherit;
  }
}
